---
import PokemonCard from "../components/pokemons/pokemonCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import type { PokemonListResponse } from "../interfaces/pokemon-list.response.ts";
import Title from "@components/shared/title.astro";
const title = "Pokemon static | Home";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = (await resp.json()) as PokemonListResponse; // Type assertion, indica de que tipo es, una interface que defini en otro archivo
---

<MainLayout title={title}>
  <Title> Listado de pokemons</Title>
  <hr />
  <section
    aria-label="Listado de pokemons"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5"
  >
    {data.results.map(({ name, url }) => <PokemonCard url={url} name={name} />)}

    <!--  {data.results.map((pokemon) => <li>{pokemon.name}</li>)} -->
  </section>
</MainLayout>
