---
import Title from "@components/shared/title.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { Counter } from "@components/counter";
---

<MainLayout title="Favoritos">
  <Title>Favoritos</Title>

  <hr />
  <section
    aria-label="Listado de pokemons"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5"
  >
    <p>En desarrollo...</p>
  </section>
</MainLayout>
