---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Favoritos">
  <h1 class="text-3xl">Pokemons Favoritos</h1>
  <hr />
  <section
    aria-label="Listado de pokemons"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5"
  >
    <p>En desarrollo...</p>
  </section>
</MainLayout>
