---
import Title from "@components/shared/title.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { Counter } from "@components/counter";
---

<MainLayout title="Favoritos">
  <Title>Prueba de islas</Title>

  <hr />

  <!-- el client:load es un atributo que se le agrega a un componente para que se cargue en el cliente y no en el servidor, esto es util para componentes que necesitan acceso al DOM o a eventos del navegador -->
  <!--  otras directivas que puede tomar el client son: client:visible, client:idle, client:media, client:only, client:load, client:unload, client:visible, client:idle, client:media, client:only, client:load, client:unload -->
  <!-- las directivas controlan cuando se puede cargar el componente -->

  <Counter client:only="solid-js" />
  <!-- se le indica que es solid-js porque es el framework que se esta usando para el componente, y el client:only indica que solo se cargue en el cliente y no en el servidor -->
  <section
    aria-label="Listado de pokemons"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5"
  >
    <p>En desarrollo...</p>
  </section>
</MainLayout>
